nav.navbar.navbar-default.header
  
  div.container-fluid  
    div.navbar-header

      button.navbar-toggle((click)='toggleMenu()' type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='#')
        img.header-img(src='./assets/logo.png') 
        span Recipe Book

    div#navBar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(routerLinkActive='active')
          a(routerLink='/auth', *ngIf='!isAuthenticated') Authenticate
        li(routerLinkActive='active')
          a(routerLink='/recipes', *ngIf='isAuthenticated') Recipes
        li(routerLinkActive='active')
          a(routerLink='/shopping-list') Shopping List

      ul.nav.navbar-nav.navbar-right
        li.logout(*ngIf='isAuthenticated')
          a((click)='onLogout()') Logout
        li.dropdown(appDropdown, *ngIf='isAuthenticated')
          a.dropdown-toggle(role='button') Manage
            span.caret
          ul.dropdown-menu
            li
              a((click)='onSaveData()') Save Data
            li
              a((click)='onFetchData()') Fetch Data