nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='#') Recipe Book

    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(routerLinkActive="active")
          a(routerLink="/recipes") Recipes
        li(routerLinkActive="active")
          a(routerLink="/shopping-list") Shopping List

      ul.nav.navbar-nav.navbar-right
        li.dropdown(appDropdown)
          a.dropdown-toggle(role='button') Manage
            span.caret
          ul.dropdown-menu
            li
              a((click)='onSaveData()') Save Data
            li
              a((click)='onFetchData()') Fetch Data