nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="#") Recipe Book

    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="#") Recipes
        li
          a(href="#") Shopping List

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#" role="button") Manage
            span.caret
          ul.dropdown-menu
            li
              a(href="#") Save Data
            li
              a(href="#") Fetch Data