.row
  .col-xs-12
    img(src="" alt="" class="img-responsive")

.row
  .col-xs-12
    h1 Recipe Name

.row
  .col-xs-12
    .btn-group
      button.btn.btn-primary.dropdown-toggle Manage Recipe
        span.caret

      ul.dropdown-menu
        li To Shopping List
        li Edit Recipe
        li Delete Recipe

.row
  .col-xs-12 Description

.row
  .col-xs-12 Ingredients