.row
  .col-xs-12
    img("[src]"="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive")

.row
  .col-xs-12
    h1 {{ recipe.name }}

.row
  .col-xs-12
    .btn-group
      button.btn.btn-primary.dropdown-toggle Manage Recipe
        span.caret

      ul.dropdown-menu
        li To Shopping List
        li Edit Recipe
        li Delete Recipe

.row
  .col-xs-12 {{ recipe.description }}

.row
  .col-xs-12 Ingredients