.row
  .col-xs-12
    img([src]='recipe.imagePath' alt='{{ recipe.name }}' class='img-responsive')

.row
  .col-xs-12
    h1 {{ recipe.name }}

.row
  .col-xs-12
    .btn-group(appDropdown)
      button.btn.btn-primary.dropdown-toggle.recipe-detail Manage Recipe
        span.caret

      ul.dropdown-menu
        li
          a.clickable((click)='onAddToShoppingList()') To Shopping List
        li 
          a.clickable((click)='onEditRecipe()') Edit Recipe
        li 
          a.clickable((click)='onDeleteRecipe()') Delete Recipe

.row.description
  .col-xs-12 {{ recipe.description }}

.row
  .col-xs-12
    ul.list-group
      li.list-group-item(*ngFor="let ingredient of recipe.ingredients") {{ ingredient.amount }} x {{ ingredient.unit }} {{ ingredient.name }}