@import 'colors'

body, html
  font-size: 16px !important
  font-family: Open Sans, sans-serif !important
  overflow: hidden
  /* override boostrap */

button.btn-success
  background-color: $color-secondary !important;