div.row
  div.col-xs-10
    app-shopping-edit

hr

div.row
  label Ingredient list
  ul.list-group
    a.list-group-item.shopping-list-item(
      *ngFor='let ingredient of ingredients; let i = index',
      (click)="onEditItem(i)"
    ) {{ ingredient.name }} ({{ ingredient.amount }})