.loader
  display: inline-block
  position: relative
  width: 5rem
  height: 0.5rem
  
  & div
    display: inline-block
    position: absolute
    left: 0.5rem
    width: 1rem
    background: white
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
    border-radius: 50%

  .one
    left: 0.5rem
    animation-delay: -0.24s

  .two
    left: 2rem
    animation-delay: -0.12s
  
  .three
    left: 3.5rem
    animation-delay: 0

@keyframes loader
  0%
    top: 0rem
    height: 1.5rem
    border-raidus: 30%
  
  50%, 100%
    top: 0.5rem
    height: 0.5rem
    border-radius: 5%