@import 'colors'

.recipe-list-item
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  cursor: pointer

  .recipe-list-img
    max-height: 3rem
    border-radius: 0.5rem;

  &.active
    background-color: $color-secondary
    border-color: $color-primary