a.list-group-item.recipe-list-item([routerLink]="[index]", routerLinkActive="active")
  .pull-left
    h4.list-group-item-heading {{ recipe.name }}
    p.list-group-item-text Description {{ recipe.description }}
  span.pull-right
    img.img-responsive([src]='recipe.imagePath', alt='{{ recipe.name }}').recipe-list-img