@import 'colors'

.row
  button 
    margin-right: 0.5rem

    &:last-of-type
      margin-right: 0

.row.add-ingredient
  position: relative
  height: 7rem
  margin-bottom: 1rem
  display: flex

  &:before
    position: absolute
    display: flex
    width: 40rem
    height: 100%
    border: 0.125rem solid $color-header-logo
    border-radius: 0.5rem
    z-index: 0

form
  z-index: 1

label
  margin-top: 1rem

label.white-text
  color: white

input, select
  border: 0.0625rem solid $color-header-logo

input:focus, select:focus
  border-color: $color-header-logo-shadow

#name
  width: 15rem
 
#amount
  width: 4rem

#unit
  width: 5rem

@media(max-width: 60rem)
  .row.add-ingredient::before
        width: 30rem